.containerCenter {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 500px;
}

.login {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 550px;

  h1 {
    color: var(--white);
  }

  form {
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }
}

.input {
  height: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  padding: 0 16px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;
}

.input:focus {
  border: 0.5px solid var(--white);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.registerText {
  color: var(--white);
}

.registerText:hover {
  color: rgba(255, 255, 255, 0.8);
}

.categoryContainer {
  max-width: 720px;
  margin: 20px auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;

  h1 {
    color: var(--white);
  }
}

.categoryForm {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  gap: 16px;
}

@media (max-width: 620px) {
  .logo {
    width: 80%;
  }

  .login {
    width: 90%;
  }
}
